<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resume Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class = "navbar">
		<form action="#" th:action="@{/logout}" method="post">
        	<input type="submit" value="Sign out"/>
    	</form>
    	<a href="/">Home</a>
    	<a href="/resume/list">Resume</a>
    	<a href="/review">Reviews</a>
    	<a href="/contactUs">Contact Us</a> 		
    </div>
<div class="main">

    <h2>Resume Details</h2>
    <div>
        <form class="form-horizontal" th:object="${resumeForm}" th:action="@{/resume}" method="post">

            <div th:if="${#fields.hasAnyErrors()}">
                <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
            </div>

            <input type="hidden" th:field="*{userid}"/>

            <div class="form-group" th:class="${#fields.hasErrors('field')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Field:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{field}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('field')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 sm-2 control-label">Objective:</label>
                <div class="col-sm-10">
                    <div class="form-control-static" th:text="${objective}">Objective</div>
                	<textarea name="commentText" th:field="*{objective}"></textarea><br>
            	</div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 sm-2 control-label">Education:</label>
                <div class="col-sm-10">
                    <div class="form-control-static" th:text="${education}">Education</div>
                	<textarea name="commentText" th:field="*{education}"></textarea><br>
            	</div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 sm-2 control-label">Qualifications:</label>
                <div class="col-sm-10">
                    <div class="form-control-static" th:text="${qualifications}">Qualifications</div>
                	<textarea name="commentText" th:field="*{qualifications}"></textarea><br>
            	</div>
            </div>

			<div class="form-group">
                <label class="col-sm-2 sm-2 control-label">Work Experience:</label>
                <div class="col-sm-10">
                    <div class="form-control-static" th:text="${work_experience}">Work Experience</div>
                	<textarea name="commentText" th:field="*{work_experience}"></textarea><br>
            	</div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 sm-2 control-label">Certificates:</label>
                <div class="col-sm-10">
                    <div class="form-control-static" th:text="${certificates}">Certificates</div>
                	<textarea name="commentText" th:field="*{certificates}"></textarea><br>
            	</div>
            </div>
            <div class="row">
                <button style = "margin-left: 30px; width: 20%;"class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
