<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Resume</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class = "navbar">
		<form action="#" th:action="@{/logout}" method="post">
        	<input type="submit" value="Sign out"/>
    	</form>
    	<a href="/">Home</a>
    	<a href="/resume/list">Resume</a>
    	<a href="/review">Reviews</a>
    	<a href="/contactUs">Contact Us</a> 		
    </div>
<div class="main">

    <div class="row">
        <div class="col-sm-6">
            <h2>Show Resume</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Resume userId:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${resumes.userid}">Resume userId</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Field:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${resumes.field}">Field</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Objective:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${resumes.objective}">Objective</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Education:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${resumes.education}">Education</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Qualifications:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${resumes.qualifications}">Qualifications</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Work Experience:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${resumes.work_experience}">Work Experience</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Certificates:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${resumes.certificates}">Certificates</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>