<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
		<div class="centered">
            <h1>Contact Us:
            </h1>
            <div>
            Martin Nguyen: martin.nguyen02@sjsu.edu 
            <br></br>
            Andrew Shinjo: andrew.shinjo@sjsu.edu
            <br></br>
            Xiang Liu: xiang.liu@sjsu.edu
            </div>
        </div>
</body>