<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review Resume</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
          
   	<link rel="stylesheet" type="text/css" href="/css/style.css">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Review Resume</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal" th:object="${reviews}" th:action="@{/review}" method="post">
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Field:</label>
                    <div class="col-sm-10">
                        <div class="form-control-static" th:text="${field}">Field</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Objective:</label>
                    <div class="col-sm-10">
                        <div class="form-control-static" th:text="${objective}">Objective</div>
                        <div class = "star-rating">
  							<input type="radio" th:field="*{objective}" name="objectiveRating" value="1"><i></i>
  							<input type="radio" th:field="*{objective}" name="objectiveRating" value="2"><i></i>
  							<input type="radio" th:field="*{objective}" name="objectiveRating" value="3"><i></i>
   							<input type="radio" th:field="*{objective}" name="objectiveRating" value="4"><i></i>
   							<input type="radio" th:field="*{objective}" name="objectiveRating" value="5"><i></i>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Education:</label>
                    <div class="col-sm-10">
                        <div class="form-control-static" th:text="${education}">Education</div>
                        <div class = "star-rating">
  							<input type="radio" th:field="*{education}" name="educationRating" value="1"><i></i>
  							<input type="radio" th:field="*{education}" name="educationRating" value="2"><i></i>
  							<input type="radio" th:field="*{education}" name="educationRating" value="3"><i></i>
   							<input type="radio" th:field="*{education}" name="educationRating" value="4"><i></i>
   							<input type="radio" th:field="*{education}" name="educationRating" value="5"><i></i>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Qualifications:</label>
                    <div class="col-sm-10">
                        <div class="form-control-static" th:text="${qualifications}">Qualifications</div>
                        <div class = "star-rating">
  							<input type="radio" th:field="*{qualifications}" name="qualRating" value="1"><i></i>
  							<input type="radio" th:field="*{qualifications}" name="qualRating" value="2"><i></i>
  							<input type="radio" th:field="*{qualifications}" name="qualRating" value="3"><i></i>
   							<input type="radio" th:field="*{qualifications}" name="qualRating" value="4"><i></i>
   							<input type="radio" th:field="*{qualifications}" name="qualRating" value="5"><i></i>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Work Experience:</label>
                    <div class="col-sm-10">
                        <div class="form-control-static" th:text="${work_experience}">Work Experience</div>
                        <div class = "star-rating">
  							<input type="radio" th:field="*{work_experience}" name="workRating" value="1"><i></i>
  							<input type="radio" th:field="*{work_experience}" name="workRating" value="2"><i></i>
  							<input type="radio" th:field="*{work_experience}" name="workRating" value="3"><i></i>
   							<input type="radio" th:field="*{work_experience}" name="workRating" value="4"><i></i>
   							<input type="radio" th:field="*{work_experience}" name="workRating" value="5"><i></i>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Certificates:</label>
                    <div class="col-sm-10">
                        <div class="form-control-static" th:text="${certificates}">Certificates</div>
                        <div class = "star-rating">
  							<input type="radio" th:field="*{certificates}" name="certRating" value="1"><i></i>
  							<input type="radio" th:field="*{certificates}" name="certRating" value="2"><i></i>
  							<input type="radio" th:field="*{certificates}" name="certRating" value="3"><i></i>
   							<input type="radio" th:field="*{certificates}" name="certRating" value="4"><i></i>
   							<input type="radio" th:field="*{certificates}" name="certRating" value="5"><i></i>
						</div>
                    </div>
                </div>
                
                <div class="row">
                	<button type="submit" class="btn btn-default">Submit</button>
           		</div>
            </form>
        </div>
    </div>
</div>

</body>
</html>